{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="descirption" content="Start your development with Meyawo landing page.">
      <meta name="author" content="Devcrud">
      <title>Hoang Nhu Vuong</title>
      <!-- font icons -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
      <link rel="stylesheet" href= '{% static "pfl_app/assets/vendors/themify-icons/css/themify-icons.css" %}'>
      <!-- Bootstrap + Meyawo main styles -->
    <link rel="stylesheet" href='{% static "pfl_app/assets/css/pfl_app.css" %}'>
    {% block head_extra %}{% endblock %}
  </head>
  <style>
    .hidden {
        display: none;
    }
  </style>
  <body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
      <!-- Page Navbar -->
      <nav class="custom-navbar" data-spy="affix" data-offset-top="20">
        <div class="container">
            <a class="logo" href='{% url "pfl_app:member" member="pfl_app" func="homepage"%}'>Nhu Vuong</a>
              <ul class="nav">
                <!-- <li class="item">
                  <a class="link" href='{% url "pfl_app:member" member="pfl_app" func="homepage"%}'>Home</a>
                </li> -->
                <li class="item en">
                  <a class="link" href='{% url "pfl_app:member" member="pfl_app" func="homepage"%}#about'>About Me</a>
                </li>
                <li class="item vi hidden">
                  <a class="link" href='{% url "pfl_app:member" member="pfl_app" func="homepage"%}#about'>Giới thiệu bản thân</a>
                </li>
                <li class="item">
                  <a class="link" href='{% url "pfl_app:member" member="pfl_app" func="homepage"%}#portfolio'>Portfolio</a>
                </li>
                <li class="item en" style="width: 57px; height: 24px">
                  <a class="link" href='{% url "pfl_app:member" member="pfl_app" func="homepage"%}#contact'>Contact</a>
                </li>
                <li class="item vi hidden" style="width: 57px; height: 24px">
                  <a class="link" href='{% url "pfl_app:member" member="pfl_app" func="homepage"%}#contact'>Liên hệ</a>
                </li>
                <li class="item">
                  <button style="width:34px; height: 28px;" id="language-toggle">EN</button>
              </ul>
            <!-- <a href="javascript:void(0)" id="nav-toggle" class="hamburger hamburger--elastic">
              <div class="hamburger-box">
                <div class="hamburger-inner"></div>
              </div>
            </a> -->
        </div>    
      </nav><!-- End of Page Navbar -->
      {% block content %}{% endblock %} 
      <!-- footer -->
      <div class="container">
        <footer class="footer">       
          <p class="mb-0">Dawn Tran | pfl_app.md@gmail.com | (+84)-393-219-945</p>
          <div class="social-links text-right m-auto ml-sm-auto">
              <a href="https://www.facebook.com/miinhdaang" target="_blank" class="link"><i class="ti-facebook"></i></a>
              <a href="https://mail.google.com/mail/?view=cm&fs=1&to=pfl_app.md@gmail.com" target="_blank" class="link"><i class="ti-google"></i></a>
              <a href="https://www.linkedin.com/in/minhdangtc/" class="link"><i class="ti-linkedin"></i></a>
          </div>
        </footer>
      </div> <!-- end of page footer -->
    
    <!-- core  -->
      <script src='{% static "pfl_app/assets/vendors/jquery/jquery-3.4.1.js" %}'></script>
      <script src='{% static "pfl_app/assets/vendors/bootstrap/bootstrap.bundle.js" %}'></script>

      <!-- bootstrap 3 affix -->
    <script src='{% static "pfl_app/assets/vendors/bootstrap/bootstrap.affix.js" %}'></script>

    <!-- Meyawo js -->
    <script src='{% static "pfl_app/assets/js/meyawo.js" %}'></script>
    <script>
      document.getElementById('language-toggle').addEventListener('click', function() {
          var englishTexts = document.querySelectorAll('.en');
          var vietnameseTexts = document.querySelectorAll('.vi');
          var button = document.getElementById('language-toggle');
          
          englishTexts.forEach(function(text) {
              text.classList.toggle('hidden');
          });
          
          vietnameseTexts.forEach(function(text) {
              text.classList.toggle('hidden');
          });
  
          if (button.textContent === 'VI') {
              button.textContent = 'EN';
          } else {
              button.textContent = 'VI';
          }
      });
    </script>
  </body>
</html>