{% extends 'pfl_app/base.html' %} {% load static %} {% block content %}
<script>
  function scrollToAbout() {
    var aboutSection = document.getElementById("about");
    aboutSection.scrollIntoView({ behavior: "smooth" });
  }
</script>
<!-- page header -->
<header id="home" class="header">
	<div class="container">
	  <div class="row align-items-center">
		<div class="col-md-4">
		  <div class="about-img-holder">
			<img
			  style="
				width: 100%;
				max-width: 300px;
				border-radius: 10px;
				box-shadow: 8px 8px 16px #989898, -8px -8px 16px #ffffff;
			  "
			  src='{% static "pfl_app/assets/imgs/homepage/xinh.png" %}'
			  class="about-img"
			  alt="avatar.png"
			/>
		  </div>
		</div>
		<div class="col-md-8">
		  <div class="header-content en">
			<h1 class="header-title">
			  <span class="down">I am Vuong</span>
			</h1>
			<p class="header-subtitle">Data Analyst / Data Scientist</p>
			<p class="en">
			  As an enthusiastic learner in the realms of data analysis and data
			  science, I'm driven by a curiosity to extract meaningful insights
			  from complex datasets and develop innovative solutions using
			  statistical and machine learning approaches. While I'm continuously
			  expanding my skills, my passion for turning data into actionable
			  knowledge, coupled with a strong work ethic and adaptability,
			  motivates me to tackle diverse analytical challenges and contribute
			  effectively to data-driven decision-making processes.
			</p>
			<button class="btn btn-primary" onclick="scrollToAbout()">
			  About Me
			</button>
			<a
			  href='{% static "pfl_app/assets/HoangNhuVuong_CV.pdf" %}'
			  target="_blank"
			  download="HoangNhuVuong_CV.pdf"
			  class="download-button en"
			>
			  <button class="btn-rounded btn btn-outline-primary mt-4">
				Download CV
			  </button>
			</a>
		  </div>
		  <div class="header-content vi hidden">
			<h1 class="header-title">
			  <span class="up">Xin chào!</span>
			  <span class="down">Tôi là Vương</span>
			</h1>
			<p class="header-subtitle">Data Analyst / Data Scientist</p>
			<p class="vi hidden">
			  Là một người học hỏi nhiệt tình trong lĩnh vực phân tích dữ liệu và
			  khoa học dữ liệu, tôi được thúc đẩy bởi sự tò mò để rút ra những
			  hiểu biết có ý nghĩa từ các tập dữ liệu phức tạp và phát triển các
			  giải pháp sáng tạo bằng cách tiếp cận thống kê và học máy. Trong khi
			  tôi không ngừng mở rộng kỹ năng của mình, niềm đam mê biến dữ liệu
			  thành tri thức có thể hành động, cùng với đạo đức làm việc mạnh mẽ
			  và khả năng thích ứng, thúc đẩy tôi đối mặt với các thách thức phân
			  tích đa dạng và đóng góp hiệu quả vào các quá trình ra quyết định
			  dựa trên dữ liệu.
			</p>
			<button class="btn btn-primary" onclick="scrollToAbout()">
			  Giới thiệu bản thân
			</button>
			<a
			  href='{% static "pfl_app/assets/HoangNhuVuong_CV.pdf" %}'
			  target="_blank"
			  download="HoangNhuVuong_CV.pdf"
			  class="download-button vi hidden"
			>
			  <button class="btn-rounded btn btn-outline-primary mt-4">
				Tải xuống CV
			  </button>
			</a>
		  </div>
		</div>
	  </div>
	</div>
  </header>
  <!-- end of page header -->
  

<!-- about section -->
<section class="section pt-0" id="about">
  <!-- container -->
  <div class="container text-center">
    <!-- about wrapper -->
    <div class="about">
      <div class="about-caption" id="about">


    </div>
    <!-- end of about wrapper -->
  </div>
  <!-- end of container -->
</section>
<!-- end of about section -->

<!-- portfolio section -->
<section class="section" id="portfolio">
  <div class="container text-center">
    <h6 class="section-title">Portfolio Projects</h6>
    <div class="tags-container my-4">
      <span class="rounded-pill p-2 tag-da">Data Visualization & Analytics</span>
      <span class="rounded-pill p-2 tag-scrape">Web Scraping</span>
      <span class="rounded-pill p-2 tag-nlp">Natural Language Processing</span>
      <span class="rounded-pill p-2 tag-ml">Machine Learning</span>
      <span class="rounded-pill p-2 tag-des">Discrete Event Simulation</span>
  </div>
    <p class="section-subtitle en mb-6">Explore the key domains that drive my professional passion and expertise.</p>
    <!-- row -->
    <div class="row">
      <div class="col-md-3" style="padding-left: 0px">
        <a
          style="width: 300px; pointer-events: none"
          href="#"
          class="portfolio-card"
        >
          <img
            style="width: 300px"
            src='{% static "pfl_app/assets/imgs/homepage/d3.png" %}'
            class="portfolio-card-img"
            alt="Holder"
          />
          <div class="overlay"></div>
        </a>
      </div>
      <div class="col-md-9 en" style="text-align: left; padding-left: 30px">
        <p class="font-weight-normal xp-heading">
          <strong>Data Visualization & Analytics</strong>
        </p>
        <p class="font-weight-normal">
          Skills in Python, BeautifulSoup and Selenium. I have undertaken
          projects to collect data from <br />e-commerce sites, news outlets,
          and social media platforms. Achievements include effective data
          collection, analysis, and reporting. I am committed to ensuring data
          accuracy, automated crawling systems, and the highest possible
          performance.
        </p>
        <p class="font-weight-normal">
          <strong
            ><a href='{% url "pfl_app:member" member="pfl_app" func="d3"%}'
              >See more details</a
            ></strong
          >
        </p>
      </div>
      <div
        class="col-md-9 vi hidden"
        style="text-align: left; padding-left: 30px"
      >
        <p class="font-weight-normal xp-heading"><strong>Trực quan hóa và Phân tích dữ liệu</strong></p>
        <p class="font-weight-normal">
          Kiến thức và kĩ năng về Python, BeautifulSoup và Selenium đã giúp tôi
          đã thực hiện các dự án thu thập dữ liệu từ các trang thương mại điện
          tử, các trang tin tức và các nền tảng mạng xã hội. Bao gồm việc thu
          thập dữ liệu hiệu quả, phân tích và báo cáo dữ liệu đảm bảo độ chính
          xác của dữ liệu, các hệ thống tự động thu thập dữ liệu và hiệu suất
          cao nhất có thể.
        </p>
        <p class="font-weight-normal">
          <strong
            ><a href='{% url "pfl_app:member" member="pfl_app" func="d3"%}'
              >Xem chi tiết</a
            ></strong
          >
        </p>
      </div>
    </div>
    <!-- end of row -->
    <hr class="experience-line"/>
    <div class="row">
      <div class="col-md-3" style="padding-left: 0px">
        <a
          style="width: 300px; pointer-events: none"
          href="#"
          class="portfolio-card"
        >
          <img
            style="width: 300px"
            src='https://toidicodedao.com/wp-content/uploads/2020/04/1_yfep5wfbn0mwi76kutm38w.png?w=419&h=302'
            class="portfolio-card-img"
            alt="Holder and Django Integration "
          />
          <div class="overlay"></div>
    
        </a>
      </div>
      <div class="col-md-9 en" style="text-align: left; padding-left: 30px">
        <p class="font-weight-normal xp-heading">
          <strong>Web Scraping</strong>
        </p>
        <p class="font-weight-normal">
          Storing data in PostgreSQL or MySQL databases. I integrate this data
          with Django for presentation or manipulation, leveraging Django ORM
          for efficient database management and optimization.
        </p>
      </div>
      <div
        class="col-md-9 vi hidden"
        style="text-align: left; padding-left: 30px"
      >
        <p class="font-weight-normal xp-heading">
          <strong>Cào dữ liệu Website</strong>
        </p>
        <p class="font-weight-normal">
          Lưu trữ dữ liệu trong cơ sở dữ liệu như PostgreSQL, MySQL. Tôi tích
          hợp dữ liệu này với Django để trình bày hoặc thao tác, tận dụng Django
          ORM để quản lý và tối ưu hóa cơ sở dữ liệu hiệu quả.
        </p>
      </div>
    </div>
    <!-- end of row -->
    <hr class="experience-line"/>
    <div class="row">
      <div class="col-md-3" style="padding-left: 0px">
        <a
          style="width: 300px; pointer-events: none"
          href="#"
          class="portfolio-card"
        >
          <img
            style="width: 300px"
            src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9-VgaTI779jH8wtJpiJPcqYlke_4KNLIn2Q&s'
            class="portfolio-card-img"
            alt="Task Automation and Data Processing"
          />
          <div class="overlay"></div>
          
        </a>
      </div>
      <div class="col-md-9 en" style="text-align: left; padding-left: 30px">
        <p class="font-weight-normal xp-heading">
          <strong>Natural Language Processing</strong>
        </p>
        <p class="font-weight-normal">
          Skilled in task automation using Python (os, shutil, Selenium) for
          file management, web scraping. Proficient in data processing using
          pandas, numpy for batch data handling. Experienced with APIs such as
          Google Drive, Google Sheets, and the openpyxl library for efficient
          file management and Excel processing. These skills streamline
          workflows and enhance data management capabilities.
        </p>
      </div>
      <div
        class="col-md-9 vi hidden"
        style="text-align: left; padding-left: 30px"
      >
        <p class="font-weight-normal xp-heading">
          <strong>Xử lý Ngôn ngữ tự nhiên</strong>
        </p>
        <p class="font-weight-normal">
          Có kỹ năng trong tự động hóa tác vụ sử dụng Python (os, shutil,
          Selenium) cho việc quản lý tệp tin, và web scraping. Thành thạo việc
          xử lý dữ liệu bằng pandas để xử lý dữ liệu hàng loạt. Có kinh nghiệm
          với các API như Google Drive, Google Sheets, và thư viện openpyxl để
          quản lý tệp tin và xử lý Excel hiệu quả. Những kỹ năng này giúp tối ưu
          hóa quy trình làm việc và nâng cao khả năng quản lý dữ liệu
        </p>
      </div>
    </div>
    <!-- end of row -->
    <hr class="experience-line"/>
    <div
      class="row">
      <div class="col-md-3" style="padding-left: 0px">
        <a
          style="width: 300px; pointer-events: none"
          href="#"
          class="portfolio-card"
        >
          <img
            style="width: 300px"
            src='https://www.researchgate.net/publication/333074590/figure/fig3/AS:758289193246721@1557801640165/Architecture-of-a-deep-neural-network-model-with-one-input-one-output-and-k-hidden.ppm'
            class="portfolio-card-img"
            alt="A Neural Network"
          />
          <div class="overlay"></div>
        </a>
      </div>
      <div class="col-md-9 en" style="text-align: left; padding-left: 30px">
        <p class="font-weight-normal xp-heading"><strong>Machine Learning</strong></p>
        <p class="font-weight-normal">
          Data visualization with tools like Tableau, Matplotlib, and Seaborn,
          creating insightful charts, interactive dashboards, and dynamic
          visualizations.
        </p>
        <p class="font-weight-normal">
          <strong
            ><a
              href='{% url "pfl_app:member" member="pfl_app" func="menu-dashboard"%}'
              >See my dashboards</a
            ></strong
          >
        </p>
      </div>
      <div
        class="col-md-9 vi hidden"
        style="text-align: left; padding-left: 30px"
      >
        <p class="font-weight-normal xp-heading"><strong>Machine Learning</strong></p>
        <p class="font-weight-normal">
          Trực quan hóa dữ liệu với các công cụ như Tableau, Matplotlib và
          Seaborn. Tạo ra các dashboard phục vụ các nhu cầu cụ thể.
        </p>
        <p class="font-weight-normal">
          <strong
            ><a
              href='{% url "pfl_app:member" member="pfl_app" func="menu-dashboard"%}'
              >Danh sách dashboard tại đây!</a
            ></strong
          >
        </p>
      </div>
    </div>
    <!-- end of row -->
    <hr class="experience-line"/>
    <div
      class="row">
      <div class="col-md-3" style="padding-left: 0px">
        <a
          style="width: 300px; pointer-events: none"
          href="#"
          class="portfolio-card"
        >
          <img
            style="width: 300px"
            src='{% static "pfl_app/assets/imgs/homepage/simulation.png" %}'
            class="portfolio-card-img"
            alt="Discrete Event Simulation"
          />
          <div class="overlay"></div>
        </a>
        
      </div>
      <div class="col-md-9 en" style="text-align: left; padding-left: 30px">
        <p class="font-weight-normal xp-heading">
          <strong>Discrete Event Simulation</strong>
        </p>
        <p class="font-weight-normal">
          This web application combines automated real estate data retrieval
          with a chatbot for advisory purposes. Users can effortlessly search
          for property information such as prices, sizes, and locations. The
          data is regularly updated to ensure accuracy, and the chatbot provides
          prompt assistance and answers user inquiries regarding the real estate
          market.
        </p>
        <p class="font-weight-normal">
          <strong
            ><a
              href='{% url "pfl_app:member" member="pfl_app" func="webapp-real-estate"%}'
              >See more details</a
            ></strong
          >
        </p>
      </div>
      <div
        class="col-md-9 vi hidden"
        style="text-align: left; padding-left: 30px"
      >
        <p class="font-weight-normal xp-heading">
          <strong>Mô phỏng sự kiện rời rạc</strong>
        </p>
        <p class="font-weight-normal">
          Ứng dụng web này kết hợp tự động hóa việc thu thập dữ liệu bất động
          sản với một chatbot để cung cấp tư vấn. Người dùng có thể dễ dàng tìm
          kiếm thông tin về bất động sản như giá cả, diện tích và vị trí. Dữ
          liệu được cập nhật thường xuyên để đảm bảo độ chính xác, và chatbot
          cung cấp hỗ trợ nhanh chóng và trả lời các câu hỏi của người dùng về
          thị trường bất động sản.
        </p>
        <p class="font-weight-normal">
          <strong
            ><a
              href='{% url "pfl_app:member" member="pfl_app" func="webapp-real-estate"%}'
              >Xem chi tiết</a
            ></strong
          >
        </p>
      </div>
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container -->
</section>
<!-- end of portfolio section -->




<!-- section contact -->
<section class="section" id="contact">
  <div class="container text-center">
    <p class="section-subtitle en">How can you communicate?</p>
    <h6 class="section-title mb-5 en">Contact Me</h6>
    <h6 class="section-title mb-5 vi hidden">Liên hệ</h6>
    <!-- contact form -->
    <div class="contact-card en">
      <p class="font-weight-normal">
        Email: <strong>vuonghoang.workspace@gmail.com</strong>
      </p>
      <p class="font-weight-normal">
        Phone: <strong>0977-829-788</strong>
      </p>
    </div>
    <div class="contact-card vi hidden">
      <p class="font-weight-normal">
        Email: <strong>vuonghoang.workspace@gmail.com</strong>
      </p>
      <p class="font-weight-normal">
        Số điện thoại: <strong>0977-829-788</strong>
      </p>
    </div>
  </div>
  <!-- end of container -->
</section>
<!-- end of contact section -->

 {% comment %} GO UP BUTTON {% endcomment %}
 <div class="btn__go-up text-primary text-center" onclick="topFunction()" id="btn-back-to-top">
  <a href="#">
    <img src='{% static "pfl_app/assets/imgs/homepage/gingerbread.png" %}' alt="" width="80px"> 
    <p class="d-block border rounded-4 p-0 m-0" id="btn__text">Go up!</p>
  </a>
</div>
{% comment %} END OF GO UP BUTTON {% endcomment %}
{% endblock %}
